.footer {
  margin-top: 80px;
  width: 100%;
  border-top: 1px solid var(--border-color);

  .footerWrapper > *:nth-child(1) {
    grid-area: a;
  }
  .footerWrapper > *:nth-child(2) {
    grid-area: b;
  }
  .footerWrapper > *:nth-child(3) {
    grid-area: c;
  }

  .footerWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    width: 95%;

    margin: 0 auto;

    @media (max-width: 590px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "a b"
        "c c";
      gap: 10px;
    }

    #logoImage {
      margin-left: 15px;

      width: 35px;
      height: 35px;

      opacity: 100%;

      @media (max-width: 645px) {
        display: none;
      }
    }

    img {
      cursor: pointer;

      opacity: 30%;

      width: 25px;
      height: 25px;
      margin-right: 15px;

      &:hover {
        opacity: 100%;
      }
    }

    .footerExtra {
      margin-right: 20px;

      .modeSwitchContainer {
        @media (max-width: 590px) {
          display: flex;
          justify-content: center;
        }
      }

      p {
        @include text-font();
        font-size: 1rem;

        @media (max-width: 645px) {
          display: none;
        }
      }

      .nyanUnlock {
        font-size: 0.9rem;
        cursor: pointer;

        opacity: 60%;

        &:hover {
          opacity: 100%;
        }
      }

      .modeSwitchContainer {
        @media (max-width: 590px) {
          display: flex;
          justify-content: space-between;
          width: 50%;

          margin: 0 auto;
          padding-left: 40px;
          padding-top: 20px;
        }
      }

      img:hover {
        opacity: 100%;
      }

      .dark {
        opacity: var(--dark-opa);
        filter: var(--svg-filter);
      }

      .light {
        opacity: var(--light-opa);
        filter: var(--svg-filter);
      }

      // #notactiveMode:hover {
      //   opacity: 100%;
      //   filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg)
      //     brightness(100%) contrast(100%);
      // }
    }

    .footerSocials,
    .footerContact {
      display: flex;
      flex-direction: column;

      @media (max-width: 645px) {
        padding-left: 20px;
      }

      @media (max-width: 590px) {
        margin: 0 auto;
        padding-left: 0px;
      }

      h4 {
        @include subtitles-font();
        font-size: 1.2rem;
      }

      a {
        text-decoration: none;
        color: var(--text-color);
        opacity: 50%;
        font-size: 1.1rem;

        @media (max-width: 590px) {
          text-align: center;
        }

        &:hover {
          opacity: 100%;
        }
      }
    }
  }

  #copyrightWrapper {
    display: flex;
    justify-content: center;

    background-color: var(--text-color);
    font-size: 16px;

    margin-top: 20px;
    padding-left: 10px;

    img {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }

    p {
      color: var(--background-color);

      @media (max-width: 778px) {
        font-size: 0.8rem;
      }
    }
  }
}
