:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}
nav #logoImage {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  opacity: 100%;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul .navLink {
  text-decoration: none;
  color: white;
  opacity: 40%;
}
nav ul .navLink:hover {
  opacity: 100%;
}
nav ul #lastNavLink {
  border-right: 2px solid white;
  padding-right: 20px;
}
nav ul img {
  cursor: pointer;
  margin-right: 20px;
  width: 25px;
  height: 25px;
}
nav ul img:hover {
  opacity: 100%;
}
nav ul #activeMode {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
nav ul #notactiveMode {
  opacity: 30%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
nav ul #notactiveMode:hover {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

footer {
  margin-top: 80px;
}
footer #footerWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid white;
}
footer #footerWrapper #logoImage {
  margin-left: 15px;
  width: 35px;
  height: 35px;
  opacity: 100%;
}
footer #footerWrapper img {
  cursor: pointer;
  color: white;
  opacity: 30%;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
footer #footerWrapper img:hover {
  opacity: 100%;
}
footer #footerWrapper .footerExtra {
  margin-right: 20px;
}
footer #footerWrapper .footerExtra p {
  font-size: 1.1rem;
}
footer #footerWrapper .footerExtra #activeMode {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
footer #footerWrapper .footerExtra #notactiveMode {
  opacity: 30%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
footer #footerWrapper .footerExtra #notactiveMode:hover {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
footer #footerWrapper .footerSocials, footer #footerWrapper .footerContact {
  display: flex;
  flex-direction: column;
}
footer #footerWrapper .footerSocials h4, footer #footerWrapper .footerContact h4 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
}
footer #footerWrapper .footerSocials a, footer #footerWrapper .footerContact a {
  text-decoration: none;
  color: white;
  opacity: 50%;
  font-size: 1.1rem;
}
footer #footerWrapper .footerSocials a:hover, footer #footerWrapper .footerContact a:hover {
  opacity: 100%;
}
footer #footerWrapper #tetrisEasteregg {
  opacity: 100%;
}
footer #copyrightWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 16px;
  margin-top: 20px;
  padding-left: 10px;
}
footer #copyrightWrapper img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
footer #copyrightWrapper p {
  color: black;
}

.aboutGeneral {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 5vh;
}
.aboutGeneral .aboutTextWrapper {
  margin: auto 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.aboutGeneral .aboutTextWrapper h2 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  font-variation-settings: "wdth" 125;
}
.aboutGeneral .aboutTextWrapper h5 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
  opacity: 40%;
}
.aboutGeneral .aboutTextWrapper p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
}
.aboutGeneral .aboutTextWrapper span {
  opacity: 40%;
}

.aboutDetails {
  width: 80%;
  margin: 0 auto;
}
.aboutDetails span {
  color: white;
}
.aboutDetails .collapsibleWrapper {
  margin-top: 40px;
}
.aboutDetails .collapsibleWrapper p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
}
.aboutDetails .collapsibleWrapper .collapspreview {
  display: flex;
  justify-content: space-between;
}
.aboutDetails .collapsibleWrapper .collapspreview h4 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
}

.linkContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
  padding-top: 20px;
}
.linkContainer a {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 2rem;
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 15px 180px 10px 180px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.linkContainer a:hover {
  background-color: white;
  color: #181818;
}/*# sourceMappingURL=main.css.map */