$bg-color-dark: #0f0f0f;

@mixin titles-font {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  font-variation-settings: "wdth" 125;
}

@mixin subtitles-font {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
}

@mixin text-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;

  background-color: $bg-color-dark;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  img {
    max-width: 100%;
    z-index: 2;
  }
}

//Nvigation Bar
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;

  padding-top: 0px;
  padding-bottom: 0px;

  border-bottom: 1px solid #b3b3b3;

  background: $bg-color-dark;

  position: sticky;
  top: 0;
  z-index: 10;

  #logoImage {
    width: 35px;
    height: 35px;
    margin-left: 15px;

    opacity: 100%;
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      margin-right: 20px;
    }

    .navLink {
      text-decoration: none;
      color: white;
      opacity: 40%;

      margin-top: 5px;
    }

    .navLink:hover {
      opacity: 100%;
    }

    #lastNavLink {
      border-right: 1px solid #b3b3b3;
      padding-right: 20px;
    }

    .modeSwitch {
      cursor: pointer;

      margin-right: 20px;
      margin-top: 3px;
      width: 25px;
      height: 25px;

      &:hover {
        opacity: 100%;
      }
    }

    #activeMode {
      opacity: 100%;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg)
        brightness(100%) contrast(100%);
    }

    #notactiveMode {
      opacity: 30%;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg)
        brightness(100%) contrast(100%);
    }

    #notactiveMode:hover {
      opacity: 100%;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg)
        brightness(100%) contrast(100%);
    }
  }
}

//Footer
.footer {
  margin-top: 80px;
  .footerWrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    border-top: 1px solid #b3b3b3;

    #logoImage {
      margin-left: 15px;

      width: 35px;
      height: 35px;

      opacity: 100%;
    }

    img {
      cursor: pointer;

      color: white;
      opacity: 30%;

      width: 25px;
      height: 25px;
      margin-right: 15px;

      &:hover {
        opacity: 100%;
      }
    }

    .footerExtra {
      margin-right: 20px;

      p {
        @include text-font();
        font-size: 1rem;
      }

      .nyanUnlock {
        font-size: 0.9rem;
        cursor: pointer;

        opacity: 60%;

        &:hover {
          opacity: 100%;
        }
      }

      #activeMode {
        opacity: 100%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg)
          brightness(100%) contrast(100%);
      }

      #notactiveMode {
        opacity: 30%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg)
          brightness(100%) contrast(100%);
      }

      #notactiveMode:hover {
        opacity: 100%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg)
          brightness(100%) contrast(100%);
      }
    }

    .footerSocials,
    .footerContact {
      display: flex;
      flex-direction: column;

      h4 {
        @include subtitles-font();
        font-size: 1.2rem;
      }

      a {
        text-decoration: none;
        color: white;
        opacity: 50%;
        font-size: 1.1rem;

        &:hover {
          opacity: 100%;
        }
      }
    }

    #tetrisEasteregg {
      opacity: 100%;
    }
  }

  #copyrightWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    font-size: 16px;

    margin-top: 20px;
    padding-left: 10px;

    img {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }

    p {
      color: black;
    }
  }
}

//Project Navigations
.projectNav {
  border: 1px solid #b3b3b3;

  display: flex;
  justify-content: space-around;

  position: sticky;
  bottom: 0px;
  z-index: 9;

  background-color: $bg-color-dark;

  li {
    cursor: pointer;

    list-style: none;
    text-align: center;
    color: white;

    flex: 1;
    padding: 1px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #b3b3b3;

    font-size: 1.1rem;

    &:hover {
      background-color: #181818;
    }
  }

  #activeFilter {
    color: #181818;
    background-color: white;
    opacity: 100%;
    border: 1px solid white;
  }
}

//Projects Overview
.projectListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .projectContainer {
    display: flex;
    justify-content: space-around;

    padding-top: 60px;

    width: 90%;

    .projectRightSection {
      display: flex;
      justify-content: right;
      img {
        border-radius: 25px;
        max-width: 75%;
        height: auto;
      }
    }
    .projectLeftSection {
      width: 35%;
      h4 {
        @include subtitles-font();
        font-size: 1.1rem;
        opacity: 50%;
        line-height: 0.5rem;
        padding-left: 5px;
      }

      h2 {
        @include titles-font();
        font-size: 2.5rem;

        line-height: 98%;

        margin-top: 15px;
        margin-bottom: 20px;
      }

      .projectTags {
        display: flex;
        justify-content: left;
        margin-bottom: 10px;

        p {
          @include text-font();
          font-size: 0.9rem;

          margin-right: 10px;
          padding: 5px 10px;
          background-color: #272727;
          border-radius: 15px;
        }
      }

      .projectInfo {
        @include text-font();
        font-size: 1rem;

        background-color: #272727;
        padding: 5px 10px;
        border-radius: 15px;
      }

      .projectRoute {
        text-decoration: none;
        .projectLink {
          @include subtitles-font();
          font-size: 1.1rem;
          width: fit-content;

          border-radius: 15px;

          padding: 10px 20px 5px 20px;
          margin-top: 20px;

          background-color: white;
          text-align: center;
          text-decoration: none;
          color: #121212;

          opacity: 60%;

          &:hover {
            opacity: 100%;
          }
        }
      }
    }
  }
}

//About
.aboutGeneral {
  display: flex;
  justify-content: space-between;

  width: 80%;
  margin: 0 auto;

  padding-top: 5vh;

  .aboutTextWrapper {
    margin: auto 0;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    h2 {
      @include titles-font();
      line-height: 98%;

      margin-top: 15px;
      font-size: 1.9rem;
    }

    h5 {
      @include subtitles-font();
      font-size: 1rem;
      opacity: 50%;
      line-height: 0.5rem;
    }

    p {
      @include text-font();
      font-size: 1.1rem;
    }

    span {
      opacity: 40%;
    }

    a {
      @include subtitles-font();
      font-size: 1.1rem;
      width: fit-content;

      border-radius: 15px;

      padding: 10px 20px 5px 20px;
      margin-top: 20px;

      background-color: white;
      text-align: center;
      text-decoration: none;
      color: #121212;

      opacity: 60%;

      &:hover {
        opacity: 100%;
      }
    }
  }
}
.aboutDetails {
  width: 70%;
  margin: 0 auto;

  span {
    color: white;
  }

  .collapsibleWrapper {
    margin-top: 60px;

    p {
      @include text-font();
      font-size: 1.1rem;
      padding-bottom: 20px;
    }

    .collapspreview {
      display: flex;
      justify-content: space-between;

      border-bottom: 1px solid white;

      margin-bottom: 15px;
      cursor: pointer;

      img {
        opacity: 100%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg)
          brightness(100%) contrast(100%);
        width: 25px;
        opacity: 70%;
        padding-bottom: 10px;

        transition: transform 0.3s ease;

        &:hover {
          opacity: 100%;
        }
      }

      h4 {
        @include subtitles-font();
        font-size: 1.4rem;
      }
    }
  }
}

//Link.Tree
.linkContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  width: fit-content;
  margin: 50px auto;
  padding-top: 20px;

  a {
    @include subtitles-font();
    font-size: 1.4rem;

    border: 1px solid lightgrey;
    border-radius: 15px;

    padding: 15px 180px 10px 180px;
    margin-bottom: 20px;

    text-align: center;
    text-decoration: none;
    color: white;
  }

  a:hover {
    background-color: white;
    color: #181818;
  }
}

//ChickenFarm
.chickenFarm {
  display: flex;
  justify-content: space-around;

  margin: 0 auto;

  flex-direction: column;
  width: 80%;

  .chickenHeader {
    margin-top: 50px;
    h1 {
      @include titles-font();
      line-height: 98%;

      margin-top: 15px;
      font-size: 1.9rem;
    }

    h5 {
      @include subtitles-font();
      font-size: 1rem;
      opacity: 50%;
      line-height: 0.5rem;
    }

    p {
      @include text-font();
      font-size: 1.1rem;
    }
  }

  .chickenBtnContainer {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 60%;

    margin: 0 auto;
    button {
      background: none;
      cursor: pointer;

      @include subtitles-font();
      font-size: 1.1rem;
      width: fit-content;

      border-radius: 15px;

      padding: 10px 20px 5px 20px;
      margin-top: 20px;

      background-color: white;
      text-align: center;
      text-decoration: none;
      color: #121212;

      opacity: 60%;

      &:hover {
        opacity: 100%;
      }
    }
  }

  .chickenImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    margin-top: 25px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

// Nyan Cat
.flyingCat {
  overflow: hidden;
  position: fixed;
  top: 40%;
  left: -300px;
}
.flyAnim {
  animation: fly 3s linear; /* 5 seconds duration, linear timing, infinite repeats */
}

#nyan {
  width: 35px;
  height: 35px;

  cursor: pointer;

  margin-right: 20px;

  opacity: 0%;
  pointer-events: none;

  &:hover {
    opacity: 90%;
  }
}

@keyframes fly {
  0% {
    left: -500px;
  }
  100% {
    left: 105vw;
  }
}
