:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  background-color: #0f0f0f;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.headerContainer canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.headerContainer img {
  max-width: 100%;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #b3b3b3;
  background: #0f0f0f;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav #logoImage {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  opacity: 100%;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul .navLink {
  text-decoration: none;
  color: white;
  opacity: 40%;
  margin-top: 5px;
}
nav ul .navLink:hover {
  opacity: 100%;
}
nav ul #lastNavLink {
  border-right: 1px solid #b3b3b3;
  padding-right: 20px;
}
nav ul .modeSwitch {
  cursor: pointer;
  margin-right: 20px;
  margin-top: 3px;
  width: 25px;
  height: 25px;
}
nav ul .modeSwitch:hover {
  opacity: 100%;
}
nav ul #activeMode {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
nav ul #notactiveMode {
  opacity: 30%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
nav ul #notactiveMode:hover {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

footer {
  margin-top: 80px;
}
footer #footerWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #b3b3b3;
}
footer #footerWrapper #logoImage {
  margin-left: 15px;
  width: 35px;
  height: 35px;
  opacity: 100%;
}
footer #footerWrapper img {
  cursor: pointer;
  color: white;
  opacity: 30%;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
footer #footerWrapper img:hover {
  opacity: 100%;
}
footer #footerWrapper .footerExtra {
  margin-right: 20px;
}
footer #footerWrapper .footerExtra p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1rem;
}
footer #footerWrapper .footerExtra .nyanUnlock {
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 60%;
}
footer #footerWrapper .footerExtra .nyanUnlock:hover {
  opacity: 100%;
}
footer #footerWrapper .footerExtra #activeMode {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
footer #footerWrapper .footerExtra #notactiveMode {
  opacity: 30%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
footer #footerWrapper .footerExtra #notactiveMode:hover {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
footer #footerWrapper .footerSocials,
footer #footerWrapper .footerContact {
  display: flex;
  flex-direction: column;
}
footer #footerWrapper .footerSocials h4,
footer #footerWrapper .footerContact h4 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
}
footer #footerWrapper .footerSocials a,
footer #footerWrapper .footerContact a {
  text-decoration: none;
  color: white;
  opacity: 50%;
  font-size: 1.1rem;
}
footer #footerWrapper .footerSocials a:hover,
footer #footerWrapper .footerContact a:hover {
  opacity: 100%;
}
footer #footerWrapper #tetrisEasteregg {
  opacity: 100%;
}
footer #copyrightWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 16px;
  margin-top: 20px;
  padding-left: 10px;
}
footer #copyrightWrapper img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
footer #copyrightWrapper p {
  color: black;
}

.projectNav {
  border: 1px solid #b3b3b3;
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0px;
  z-index: 9;
  background-color: #0f0f0f;
}
.projectNav li {
  cursor: pointer;
  list-style: none;
  text-align: center;
  color: white;
  flex: 1;
  padding: 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b3b3b3;
  font-size: 1.1rem;
}
.projectNav li:hover {
  background-color: #181818;
}
.projectNav #activeFilter {
  color: #181818;
  background-color: white;
  opacity: 100%;
  border: 1px solid white;
}

.projectListContainer .projectContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  width: 100%;
}
.projectListContainer .projectContainer .projectRightSection img {
  border-radius: 25px;
  width: 400px;
}
.projectListContainer .projectContainer .projectLeftSection {
  width: 30%;
}
.projectListContainer .projectContainer .projectLeftSection h4 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.1rem;
  opacity: 50%;
  line-height: 0.5rem;
  padding-left: 5px;
}
.projectListContainer .projectContainer .projectLeftSection h2 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  font-variation-settings: "wdth" 125;
  font-size: 2.5rem;
  line-height: 98%;
  margin-top: 15px;
  margin-bottom: 20px;
}
.projectListContainer .projectContainer .projectLeftSection .projectTags {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}
.projectListContainer .projectContainer .projectLeftSection .projectTags p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1rem;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #272727;
  border-radius: 15px;
}
.projectListContainer .projectContainer .projectLeftSection .projectInfo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1rem;
  background-color: #272727;
  padding: 5px 10px;
  border-radius: 15px;
}
.projectListContainer .projectContainer .projectLeftSection .projectRoute {
  text-decoration: none;
}
.projectListContainer .projectContainer .projectLeftSection .projectRoute .projectLink {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.1rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 10px 20px 5px 20px;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: #121212;
  opacity: 60%;
}
.projectListContainer .projectContainer .projectLeftSection .projectRoute .projectLink:hover {
  opacity: 100%;
}

.aboutGeneral {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 5vh;
}
.aboutGeneral .aboutTextWrapper {
  margin: auto 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.aboutGeneral .aboutTextWrapper h2 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  font-variation-settings: "wdth" 125;
  line-height: 98%;
  margin-top: 15px;
  font-size: 1.9rem;
}
.aboutGeneral .aboutTextWrapper h5 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
  opacity: 50%;
  line-height: 0.5rem;
}
.aboutGeneral .aboutTextWrapper p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1.1rem;
}
.aboutGeneral .aboutTextWrapper span {
  opacity: 40%;
}
.aboutGeneral .aboutTextWrapper a {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.1rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 10px 20px 5px 20px;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: #121212;
  opacity: 60%;
}
.aboutGeneral .aboutTextWrapper a:hover {
  opacity: 100%;
}

.aboutDetails {
  width: 70%;
  margin: 0 auto;
}
.aboutDetails span {
  color: white;
}
.aboutDetails .collapsibleWrapper {
  margin-top: 60px;
}
.aboutDetails .collapsibleWrapper p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1.1rem;
  padding-bottom: 20px;
}
.aboutDetails .collapsibleWrapper .collapspreview {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
  cursor: pointer;
}
.aboutDetails .collapsibleWrapper .collapspreview img {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
  width: 25px;
  opacity: 70%;
  padding-bottom: 10px;
  transition: transform 0.3s ease;
}
.aboutDetails .collapsibleWrapper .collapspreview img:hover {
  opacity: 100%;
}
.aboutDetails .collapsibleWrapper .collapspreview h4 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.4rem;
}

.linkContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
  padding-top: 20px;
}
.linkContainer a {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 2rem;
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 15px 180px 10px 180px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.linkContainer a:hover {
  background-color: white;
  color: #181818;
}

.flyingCat {
  overflow: hidden;
  position: fixed;
  top: 40%;
  left: -300px;
}

.flyAnim {
  animation: fly 3s linear; /* 5 seconds duration, linear timing, infinite repeats */
}

#nyan {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-right: 20px;
  opacity: 0%;
  pointer-events: none;
}
#nyan:hover {
  opacity: 90%;
}

@keyframes fly {
  0% {
    left: -500px;
  }
  100% {
    left: 105vw;
  }
}/*# sourceMappingURL=main.css.map */