@font-face {
  font-family: "arro_font";
  src: url("../assets/fonts/RobotChildren.woff2") format("woff2"), url("../assets/fonts/RobotChildren.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
  background-color: #0f0f0f;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 500px;
}
@media (max-width: 506px) {
  .headerContainer {
    height: 200%;
  }
}
.headerContainer canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.headerContainer .herowrapper {
  display: flex;
  flex-direction: column;
}
.headerContainer .herowrapper img,
.headerContainer .herowrapper h2 {
  max-width: 100%;
  z-index: 2;
  opacity: 100%;
  text-align: center;
  font-family: "arro_font", sans-serif;
  font-size: 6rem;
}
@media (max-width: 506px) {
  .headerContainer .herowrapper img,
  .headerContainer .herowrapper h2 {
    width: 200%;
  }
}
.headerContainer .herowrapper h5 {
  text-align: center;
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.25 rem;
  opacity: 100%;
  padding-top: 10px;
}
.headerContainer .herowrapper h6 {
  text-align: center;
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
  opacity: 10%;
  padding-top: 20px;
}

#lastNavLink {
  border-right: 2px solid rgba(255, 255, 255, 0.35);
  padding-right: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #383838;
  background: #0f0f0f;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav #logoImage {
  width: 27px;
  height: 27px;
  margin-left: 15px;
  opacity: 100%;
}
nav h2 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  font-variation-settings: "wdth" 125;
  font-size: 1.5rem;
  padding-left: 20px;
  padding-top: 10px;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul .navLink {
  text-decoration: none;
  color: white;
  opacity: 40%;
  margin-top: 5px;
}
@media (max-width: 506px) {
  nav ul .navLink {
    font-size: 0.9rem;
  }
}
nav ul .navLink:hover {
  opacity: 100%;
}
nav ul #lastNavLink {
  /* border-right: 1px solid #b3b3b3;
  padding-right: 20px; */
}
@media (max-width: 506px) {
  nav ul #lastNavLink {
    border: none;
  }
}
nav ul .modeSwitch {
  cursor: pointer;
  margin-right: 20px;
  margin-top: 3px;
  width: 25px;
  height: 25px;
}
nav ul .modeSwitch:hover {
  opacity: 100%;
}
@media (max-width: 506px) {
  nav ul .modeSwitch {
    display: none;
  }
}
nav ul #activeMode {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
nav ul #notactiveMode {
  opacity: 30%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

.footer {
  margin-top: 80px;
  width: 100%;
  border-top: 1px solid #383838;
}
.footer .footerWrapper > *:nth-child(1) {
  grid-area: a;
}
.footer .footerWrapper > *:nth-child(2) {
  grid-area: b;
}
.footer .footerWrapper > *:nth-child(3) {
  grid-area: c;
}
.footer .footerWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 95%;
  margin: 0 auto;
}
@media (max-width: 590px) {
  .footer .footerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" "c c";
    gap: 10px;
  }
}
.footer .footerWrapper #logoImage {
  margin-left: 15px;
  width: 35px;
  height: 35px;
  opacity: 100%;
}
@media (max-width: 645px) {
  .footer .footerWrapper #logoImage {
    display: none;
  }
}
.footer .footerWrapper img {
  cursor: pointer;
  color: white;
  opacity: 30%;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.footer .footerWrapper img:hover {
  opacity: 100%;
}
.footer .footerWrapper .footerExtra {
  margin-right: 20px;
}
@media (max-width: 590px) {
  .footer .footerWrapper .footerExtra .modeSwitchContainer {
    display: flex;
    justify-content: center;
  }
}
.footer .footerWrapper .footerExtra p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1rem;
}
@media (max-width: 645px) {
  .footer .footerWrapper .footerExtra p {
    display: none;
  }
}
.footer .footerWrapper .footerExtra .nyanUnlock {
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 60%;
}
.footer .footerWrapper .footerExtra .nyanUnlock:hover {
  opacity: 100%;
}
@media (max-width: 590px) {
  .footer .footerWrapper .footerExtra .modeSwitchContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 20px;
  }
}
.footer .footerWrapper .footerExtra #activeMode {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
.footer .footerWrapper .footerExtra #notactiveMode {
  opacity: 30%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
.footer .footerWrapper .footerSocials,
.footer .footerWrapper .footerContact {
  display: flex;
  flex-direction: column;
}
@media (max-width: 645px) {
  .footer .footerWrapper .footerSocials,
  .footer .footerWrapper .footerContact {
    padding-left: 20px;
  }
}
@media (max-width: 590px) {
  .footer .footerWrapper .footerSocials,
  .footer .footerWrapper .footerContact {
    margin: 0 auto;
    padding-left: 0px;
  }
}
.footer .footerWrapper .footerSocials h4,
.footer .footerWrapper .footerContact h4 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
}
.footer .footerWrapper .footerSocials a,
.footer .footerWrapper .footerContact a {
  text-decoration: none;
  color: white;
  opacity: 50%;
  font-size: 1.1rem;
}
@media (max-width: 590px) {
  .footer .footerWrapper .footerSocials a,
  .footer .footerWrapper .footerContact a {
    text-align: center;
  }
}
.footer .footerWrapper .footerSocials a:hover,
.footer .footerWrapper .footerContact a:hover {
  opacity: 100%;
}
.footer .footerWrapper #tetrisEasteregg {
  opacity: 100%;
}
@media (max-width: 1000px) {
  .footer .footerWrapper #tetrisEasteregg {
    display: none;
  }
}
.footer #copyrightWrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(237, 237, 237);
  font-size: 16px;
  margin-top: 20px;
  padding-left: 10px;
}
.footer #copyrightWrapper img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.footer #copyrightWrapper p {
  color: black;
}
@media (max-width: 778px) {
  .footer #copyrightWrapper p {
    font-size: 0.8rem;
  }
}

.projectNav {
  border-top: 0.5px solid #383838;
  display: flex;
  justify-content: space-around;
  position: sticky;
  bottom: 0px;
  z-index: 9;
  background-color: #0f0f0f;
}
.projectNav li {
  cursor: pointer;
  list-style: none;
  text-align: center;
  color: white;
  flex: 1;
  padding: 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #383838;
  font-size: 1.1rem;
}
@media (max-width: 450px) {
  .projectNav li {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .projectNav li {
    font-size: 0.85rem;
  }
}
.projectNav li:hover {
  background-color: #181818;
}
.projectNav #activeFilter {
  color: #181818;
  background-color: white;
  opacity: 90%;
  border: 1px solid white;
}

.shortDescriptionContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 90%;
}
.shortDescriptionContainer p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  color: #121212;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 2px;
  text-align: center;
}

.projectListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectListContainer .projectContainer {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  margin-top: 80px;
  width: 90%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 778px) {
  .projectListContainer .projectContainer {
    flex-direction: column;
  }
}
.projectListContainer .projectContainer .projectLeftSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 778px) {
  .projectListContainer .projectContainer .projectLeftSection {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 420px) {
  .projectListContainer .projectContainer .projectLeftSection {
    width: 90%;
  }
}
.projectListContainer .projectContainer .projectLeftSection h4 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.1rem;
  opacity: 50%;
  line-height: 0.5rem;
  padding-left: 5px;
}
@media (max-width: 778px) {
  .projectListContainer .projectContainer .projectLeftSection h4 {
    text-align: center;
    padding-left: 0;
  }
}
.projectListContainer .projectContainer .projectLeftSection h2 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  font-variation-settings: "wdth" 125;
  font-size: 5.2rem;
  line-height: 98%;
  text-align: center;
  margin-top: 35px;
}
@media (max-width: 778px) {
  .projectListContainer .projectContainer .projectLeftSection h2 {
    text-align: center;
    font-size: 2rem;
  }
}
.projectListContainer .projectContainer .projectLeftSection .projectTags {
  display: flex;
  justify-content: center;
}
@media (max-width: 778px) {
  .projectListContainer .projectContainer .projectLeftSection .projectTags {
    display: none;
  }
}
.projectListContainer .projectContainer .projectLeftSection .projectTags p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1.2rem;
  opacity: 75%;
  padding: 5px 10px;
  border-radius: 15px;
  position: relative;
  top: -18px;
}
.projectListContainer .projectContainer .projectLeftSection .projectRoute {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
@media (max-width: 778px) {
  .projectListContainer .projectContainer .projectLeftSection .projectRoute {
    display: none;
  }
}
.projectListContainer .projectContainer .projectLeftSection .projectRoute .projectLink {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.1rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 10px 20px 5px 20px;
  margin-top: 30px;
  background-color: white;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  color: #121212;
  opacity: 60%;
}
.projectListContainer .projectContainer .projectLeftSection .projectRoute .projectLink:hover {
  opacity: 100%;
}

.aboutGeneral {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
@media (max-width: 800px) {
  .aboutGeneral {
    flex-direction: column;
  }
}
.aboutGeneral img {
  width: 75%;
  margin: 0 auto;
}
.aboutGeneral .aboutTextWrapper {
  margin: auto 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (max-width: 800px) {
  .aboutGeneral .aboutTextWrapper {
    text-align: center;
  }
}
.aboutGeneral .aboutTextWrapper h2 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  font-variation-settings: "wdth" 125;
  line-height: 98%;
  margin-top: 15px;
  font-size: 1.9rem;
}
.aboutGeneral .aboutTextWrapper h5 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
  opacity: 50%;
  line-height: 0.5rem;
}
.aboutGeneral .aboutTextWrapper p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1.1rem;
}
.aboutGeneral .aboutTextWrapper #homeworkMsg {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.1rem;
  margin-top: 20px;
  background-color: rgb(182, 0, 0);
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
}
.aboutGeneral .aboutTextWrapper span {
  opacity: 40%;
}
.aboutGeneral .aboutTextWrapper a {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.1rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 10px 20px 5px 20px;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: #121212;
  opacity: 60%;
}
@media (max-width: 800px) {
  .aboutGeneral .aboutTextWrapper a {
    margin: 20px auto;
  }
}
.aboutGeneral .aboutTextWrapper a:hover {
  opacity: 100%;
}

.aboutDetails,
.projectDetails {
  width: 70%;
  margin: 0 auto;
}
.aboutDetails span,
.projectDetails span {
  color: white;
}
.aboutDetails .collapsibleWrapper,
.projectDetails .collapsibleWrapper {
  margin-top: 60px;
}
.aboutDetails .collapsibleWrapper p,
.projectDetails .collapsibleWrapper p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1.1rem;
  padding-bottom: 20px;
}
.aboutDetails .collapsibleWrapper .collapspreview,
.projectDetails .collapsibleWrapper .collapspreview {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
  cursor: pointer;
}
.aboutDetails .collapsibleWrapper .collapspreview img,
.projectDetails .collapsibleWrapper .collapspreview img {
  opacity: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
  width: 25px;
  opacity: 70%;
  padding-bottom: 10px;
  transition: transform 0.3s ease;
}
.aboutDetails .collapsibleWrapper .collapspreview img:hover,
.projectDetails .collapsibleWrapper .collapspreview img:hover {
  opacity: 100%;
}
.aboutDetails .collapsibleWrapper .collapspreview h4,
.projectDetails .collapsibleWrapper .collapspreview h4 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.4rem;
}

.linkContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 50px auto;
  padding-top: 20px;
}
.linkContainer a {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 100;
  font-size: 1.4rem;
  width: 60%;
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding-top: 6px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}
@media (max-width: 506px) {
  .linkContainer a {
    width: 90%;
  }
}
.linkContainer a:hover {
  background-color: white;
  color: #181818;
}

.project .backOverview {
  padding: 5px;
}
.project .backOverview .backLink {
  display: flex;
  text-decoration: none;
  color: white;
  opacity: 40%;
  width: -moz-fit-content;
  width: fit-content;
}
.project .backOverview .backLink:hover {
  opacity: 1;
}
.project .backOverview img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
.project .backOverview p {
  color: white;
}
.project .projectOverview {
  display: flex;
  flex-direction: column;
}
.project .projectOverview .textProjectContent {
  padding: 15px;
}
.project .projectOverview .textProjectContent h2 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  font-variation-settings: "wdth" 125;
  font-size: 4rem;
  line-height: 98%;
  margin-top: 35px;
  text-align: center;
}
@media (max-width: 778px) {
  .project .projectOverview .textProjectContent h2 {
    text-align: center;
    font-size: 2rem;
  }
}
.project .projectOverview .textProjectContent p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-size: 1.1rem;
  padding-bottom: 20px;
  text-align: center;
}
.project .projectOverview .mainProjectContent {
  display: flex;
  justify-content: center;
}

.flyingCat {
  overflow: hidden;
  position: fixed;
  top: 40%;
  left: -300px;
}

.flyAnim {
  animation: fly 3s linear; /* 5 seconds duration, linear timing, infinite repeats */
}

#nyan {
  width: 0px;
  height: 0px;
  cursor: pointer;
  margin-right: 20px;
  opacity: 0%;
  pointer-events: none;
}
#nyan:hover {
  opacity: 90%;
}

.hero {
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0px 1px 1px);
}

.soloProject {
  filter: drop-shadow(0 0px 0px);
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  -webkit-clip-path: polygon(0% 12%, 53% 12%, 53% 26%, 25% 26%, 25% 86%, 31% 86%, 31% 0%, 53% 0%, 53% 84%, 92% 84%, 92% 82%, 70% 82%, 70% 29%, 78% 29%, 78% 65%, 69% 65%, 69% 66%, 77% 66%, 77% 45%, 85% 45%, 85% 26%, 97% 26%, 97% 28%, 84% 28%, 84% 34%, 54% 34%, 54% 89%, 30% 89%, 30% 58%, 83% 58%, 83% 5%, 68% 5%, 68% 36%, 62% 36%, 62% 1%, 12% 1%, 12% 34%, 60% 34%, 60% 57%, 98% 57%, 98% 83%, 1% 83%, 1% 53%, 91% 53%, 91% 84%, 8% 84%, 8% 83%, 4% 83%);
          clip-path: polygon(0% 12%, 53% 12%, 53% 26%, 25% 26%, 25% 86%, 31% 86%, 31% 0%, 53% 0%, 53% 84%, 92% 84%, 92% 82%, 70% 82%, 70% 29%, 78% 29%, 78% 65%, 69% 65%, 69% 66%, 77% 66%, 77% 45%, 85% 45%, 85% 26%, 97% 26%, 97% 28%, 84% 28%, 84% 34%, 54% 34%, 54% 89%, 30% 89%, 30% 58%, 83% 58%, 83% 5%, 68% 5%, 68% 36%, 62% 36%, 62% 1%, 12% 1%, 12% 34%, 60% 34%, 60% 57%, 98% 57%, 98% 83%, 1% 83%, 1% 53%, 91% 53%, 91% 84%, 8% 84%, 8% 83%, 4% 83%);
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    -webkit-clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
            clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
  }
  5% {
    -webkit-clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
            clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
  }
  30% {
    -webkit-clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
            clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
  }
  45% {
    -webkit-clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
            clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
  }
  76% {
    -webkit-clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
            clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
  }
  90% {
    -webkit-clip-path: polygon(0% 41%, 13% 41%, 13% 6%, 87% 6%, 87% 93%, 10% 93%, 10% 13%, 89% 13%, 89% 6%, 3% 6%, 3% 8%, 16% 8%, 16% 79%, 0% 79%, 0% 99%, 92% 99%, 92% 90%, 5% 90%, 5% 60%, 0% 60%, 0% 48%, 89% 48%, 89% 13%, 80% 13%, 80% 43%, 95% 43%, 95% 19%, 80% 19%, 80% 85%, 38% 85%, 38% 62%);
            clip-path: polygon(0% 41%, 13% 41%, 13% 6%, 87% 6%, 87% 93%, 10% 93%, 10% 13%, 89% 13%, 89% 6%, 3% 6%, 3% 8%, 16% 8%, 16% 79%, 0% 79%, 0% 99%, 92% 99%, 92% 90%, 5% 90%, 5% 60%, 0% 60%, 0% 48%, 89% 48%, 89% 13%, 80% 13%, 80% 43%, 95% 43%, 95% 19%, 80% 19%, 80% 85%, 38% 85%, 38% 62%);
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }
  15% {
    top: 10px;
    left: 10px;
  }
  60% {
    top: 5px;
    left: -10px;
  }
  75% {
    top: -5px;
    left: 20px;
  }
  100% {
    top: 10px;
    left: 5px;
  }
}
.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.8;
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    opacity: 0;
  }
}
.font {
  animation: font 10s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }
  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }
  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }
  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }
  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}
.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 1s step-end infinite, opacity 5s step-end infinite, font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 7s step-end infinite, movement 8s step-end infinite;
}

@keyframes fly {
  0% {
    left: -500px;
  }
  100% {
    left: 105vw;
  }
}/*# sourceMappingURL=main.css.map */